%h2
%div.new-class
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.password_field :password, autocomplete: "off"
  - if devise_mapping.rememberable?
    = f.check_box :remember_me
    = render "users/shared/links"
