/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1{
 font-family: monospace;
}

h2{
  font-family: monospace;
}

p{
 font-family: monospace;
}


form {
  margin-bottom: inherit;
  position:static;
  width: 250px;
  height: 250px;
  font-family: monospace, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 10px;
  font-weight: bold;
  color: #09C;
  text-decoration: none;

}

body.specialbg{
 background-image: url(https://a.1stdibscdn.com/archivesE/upload/a_60/45_14/tfindreams/TFindreams_l.jpeg);
 background-repeat: no-repeat;
 background-position: top;
 background-size: cover;
 }

 .private {
   font-family: monospace;
   font-size: 15px;
   padding: 10px
   color: green;
