// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a{
color: green;
font-weight: bold;
font-family: monospace;
font-size: 24px;
}

h2{
  font-family: monospace;
}

li{
  display: inline;
  font-size: 24px;
  font-family: monospace;
  color: green;
 }

.specialbg{
 background-image: url(https://a.1stdibscdn.com/archivesE/upload/a_60/45_14/tfindreams/TFindreams_l.jpeg);
 background-repeat: no-repeat;
 background-position: top;
 background-size: cover;
 }
