// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2{
   font-family: arial, Geneva;
}


.button-spacing{
padding-right: 75%;
padding-left: 0%;
}

.down-right{
padding-left: 68%
}
